<% include ../partials/admin-header.ejs %>

<br>
<h2>Products in Database</h2>
<br>
<div class="container">
<a href="/admin/new" class="btn btn-primary">Add new Product</a><br><br>
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Desciption</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
         <% products.forEach(function(product){ %>
            <tr>
                <td><%= product.title %></td>
                <td><img src="<%= product.image %>"></td>
                <td><%= product.price %></td>
                <td><%= product.desc %></td>
                <td><a href="/admin/edit/<%= product._id %>"><i class="far fa-edit"></i></a></td>
                <td><a href="/admin/remove/<%= product._id %>"><i class="far fa-trash-alt"></i></a></td>
            </tr>
         <% }) %>
    </tbody>
</table>
</div>

<br>

<% include ../partials/footer.ejs %>

