<% include ../partials/admin-header.ejs %>

<br>
<div class="container">
<% if(orders[0]){ %>
    <h1 style="text-align: center;">Orders Received</h1><br>
<% orders.forEach(function(order){ %>
    <table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th colspan="2">Username:<%= order.username %></th>
            <th colspan="2">Mobile Number:<%= order.number %></th>
        </tr>
        <tr>
            <th colspan="4">Address:<%= order.address %></th>
        </tr>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Image</th>
            <th scope="col">Quantity</th>
            <th scope="col">Product Price</th>
        </tr>
    </thead>
    <tbody>
         <% order.cart.forEach(function(item){ %>
             <tr>
                <td ><%= item.title %></td>
                <td><img src="<%= item.image %>"></img></td>
                <td><%= item.qty %></td>
                <td><%= item.price %></td>
             </tr>
         <% }) %>
         <tr>
             <td colspan="2">Total:<%= order.total %></td>
             <td colspan="2"><a class="btn btn-primary" href="/admin/remove-order/<%= order.username %>/<%= order.id %>">Remove</a></td>
         </tr>
    </tbody>
</table>
<% }) %>
<% }else{ %>
    <h2>No orders Received</h2>
<% } %>
</div>

