<% include ../partials/header.ejs %>


<% if(orders[0]){ %>
    <h1 style="text-align: center;">Your Orders</h1><br>
<% orders.forEach(function(order){ %>
<div class="container">
        <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th colspan="4">Address:<%= order.address %></th>
                    </tr>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Product Price</th>
                    </tr>
                </thead>
                <tbody>
                     <% order.cart.forEach(function(item){ %>
                         <tr>
                            <td ><%= item.title %></td>
                            <td><img style="max-height: 100px;" src="<%= item.image %>"></img></td>
                            <td><%= item.qty %></td>
                            <td><%= item.price %></td>
                         </tr>
                     <% }) %>
                     <tr>
                         <td colspan="4">Total:<%= order.total %></td>
                     </tr>
                </tbody>
            </table>
            <% }) %>
            <% }else{ %>
                <h2 style="text-align: center;">No orders</h2>
            <% } %>
</div>