
<% include ../partials/header.ejs %>
        <div id="site_content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12 left_sidebar1">
                        <div id="left_part">
                            <div class="bs-example">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="infoBoxHeading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Categories</a>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    <i  id="accordan_plus" class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="infoBoxContents">
                                                        <a href="product.html">Food and Bevarages</a>&nbsp;(94)<br />
                                                        <a href="product.html">Baby Bath & Skin Care</a>&nbsp;(9)<br />
                                                        <a href="product.html">Children Health & Safety</a>&nbsp;(5)<br />
                                                        <a href="product.html">Women Personal Care</a>&nbsp;(6)<br />
                                                        <a href="product.html">Men Age Care</a>&nbsp;(94)<br />
                                                        <a href="product.html">Bone & Joint Care</a>&nbsp;(94)<br />
                                                        <a href="product.html">Diabetes Management</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="infoBoxHeading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What's New?</a>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    <i id="accordan_plus" class="indicator glyphicon glyphicon-chevron-up  pull-right accordan_plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="infoBoxContainer">  
                                                    <div class="infoBoxHeading">
                                                        <a href="#">What's New?</a>
                                                    </div> 
                                                    <div class="infoBoxContents" id="sidebar">
                                                        <div>
                                                            <a href="single-product.html">
                                                                <img src="images/img4.jpg"  class="img-responsive" />
                                                            </a>
                                                        </div>
                                                        <a href="single-product.html">Simply</a><br />₹21.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="infoBoxHeading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Bestsellers</a>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                    <i id="accordan_plus" class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="infoBoxContents" id="sidebar">
                                                    <a href="single-product.html">
                                                        <img src="images/img4.jpg"  class="img-responsive" />
                                                    </a>
                                                    <a href="single-product.html"> Big Block</a><br /><del></del>
                                                    <span class="productSpecialPrice">₹21.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="infoBoxHeading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Specials</a>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                                    <i id="accordan_plus" class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse">
                                            <div class="panel-body">

                                                <div class="infoBoxContents" id="sidebar">

                                                    <a href="single-product.html">
                                                        <img src="images/img6.jpg" class="img-responsive" />
                                                    </a>
                                                    <a href="single-product.html"> Big Block</a><br /><del></del>
                                                    <span class="productSpecialPrice">₹21.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <script>
                            function toggleChevron(e) {
                                $(e.target)
                                        .prev('.panel-heading')
                                        .find("i.indicator")
                                        .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
                            }
                            $('#accordion').on('hidden.bs.collapse', toggleChevron);
                            $('#accordion').on('shown.bs.collapse', toggleChevron);
                        </script>

                    </div> 
                    <div class="col-md-9 col-sm-8 col-xs-12" id="content">            
                        <div class="breadcrumbs">
                            <a href="home.html"><i class="fa fa-home"></i></a>
                            <a href=""><%= item.title %></a>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="thumbnails">
                                    <li><a  href="#" class="thumbnail fix-box"><img class="changeimg" src="<%= item.image %>"></a></li>
                                    <li class="image-additional"><a title="Dianabol"  class="thumbnail"> 
                                            <img class="galleryimg" src="<%= item.image %>"></a></li>
                                    <li class="image-additional"><a title="Proviron"  class="thumbnail"> 
                                            <img class="galleryimg" src="<%= item.image %>"></a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn-group">
                                    <button  title="" class="btn btn-default mr_5"  type="button"><i class="fa fa-heart"></i></button>
                                    <button  title="" class="btn btn-default"  type="button"><i class="fa fa-exchange"></i></button>
                                </div>
                                <h1 style="color: #39baf0"><%= item.title %></h1>
                                <ul class="list-unstyled product-section">
                                    <li><span>Product Code:</span> SAM1</li>
                                    <li><span>Reward Points:</span> 1000</li>
                                    <li><span>Availability:</span> <span class="check-stock">Pre-Order</span></li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>
                                        <h2>₹<%= item.price %></h2>
                                    </li>
                                    
                                </ul>
                                <div id="product">
                                    <div class="form-group">
                                        <label for="input-quantity" class="control-label">Qty</label>
                                        <input type="text" class="form-control" id="input-quantity" size="2" value="1" name="quantity">
                                        <input type="hidden" value="49" name="product_id">
                                        <br>
                                        <a class="btn btn-primary btn-lg btn-block reg_button" href="/add-to-cart/<%= item._id %>"><i class="fa fa-shopping-cart"></i> BUY NOW!</a>
                                    </div>
                                </div>
                                <div class="rating">
                                    <p>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        <a  href=""><%= item.comments.length %> reviews</a> / <a  href="/show/<%= item._id %>/comment/new">Write a review</a></p>
                                    <hr>

                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-xs-12" class="desc-head">
                               <h4>Description</h4>
                               </div>
                        </div>
                        <hr class="dottedhr">
                      <div class="row" class="desc-body">
                
                                <div class="row" style=" overflow:auto">
                                        <p><%= item.desc %></p>
                                     </div>
                    
                                     <div class="comment">
                                            <h3>Reviews</h3>
                                            <hr class="dottedhr">
                                            <a class="btn btn-primary" href="/show/<%= item._id %>/comment/new">Write a Review</a><br>
                                            <% item.comments.forEach(function(comment){ %>
                                               <p><%= comment.author.username %>: <%= comment.text %></p>
                                           <% }) %>
                                        </div>
                          
                        
                      </div>  
                      </div>
                      </div>

        
        
       <script>
            $("document").ready(function () {

                $(".galleryimg").on("click", function () {
                    var src = $(this).attr('src');
                    console.log(src)
                    $(".changeimg").attr('src', src);
                });
            });
        </script> 
        </div>
        </div>
<% include ../partials/footer.ejs %>